:root {
	#pcLayout {
		--layout-max-width: #{$pc-layout-max-width};
		--layout-min-width: #{$pc-layout-min-width};
		--inner: #{$inner};
	}

	#mobileLayout {
		--layout-max-width: #{$mobile-layout-max-width};
		--layout-min-width: #{$mobile-layout-min-width};
		--inner: #{$inner};
	}

	/*  ------
  
    color system : scss -> css variables
  
  ------ */

	--primary-color-dim: #{$primary-color-dim};
	--primary-color-light: #{$primary-color-light};
	--primary-color-normal: #{$primary-color-normal};
	--primary-color-dark: #{$primary-color-dark};

	--white-color: #{$white-color};
	--white-color-dim: #{$white-color-dim};
	--white-color-light: #{$white-color-light};
	--white-color-normal: #{$white-color-normal};
	--white-color-dark: #{$white-color-dark};

	--gray-color-dim: #{$gray-color-dim};
	--gray-color-light: #{$gray-color-light};
	--gray-color-normal: #{$gray-color-normal};
	--gray-color-dark: #{$gray-color-dark};

	--black-color: #{$black-color};
	--black-color-dim: #{$black-color-dim};
	--black-color-light: #{$black-color-light};
	--black-color-normal: #{$black-color-normal};
	--black-color-dark: #{$black-color-dark};

	--red-color-normal: #{$red-color-normal};
	--yellow-color-normal: #{$yellow-color-normal};
	--blue-color-light: #{$blue-color-light};
	--blue-color-normal: #{$blue-color-normal};

	.darkMode {
		--white-color: #{$black-color};
		--white-color-dim: #{$black-color-dark};
		--white-color-light: #{$black-color-normal};
		--white-color-normal: #{$black-color-light};
		--white-color-dark: #{$black-color-dim};

		--gray-color-dim: #{$gray-color-dark};
		--gray-color-light: #{$gray-color-normal};
		--gray-color-normal: #{$gray-color-light};
		--gray-color-dark: #{$gray-color-dim};

		--black-color: #{$white-color};
		--black-color-dim: #{$white-color-dim};
		--black-color-light: #{$white-color-light};
		--black-color-normal: #{$white-color-normal};
		--black-color-dark: #{$white-color-dark};
	}

	// @include tablet {
	//   --inner: 24px;
	// }

	// @include desktop {
	//   --inner: 5vw;
	// }
}
