/* ======

  typography

====== */

/* ------

  font-face

------ */

/* 한글, 숫자, 특수문자 */
@font-face {
	font-family: 'Pretendard-variable';
	src: url('./../../fonts/PretendardVariable.woff2') format('woff');
}

/* ------

  basic typography

------ */
html {
	font-size: 62.5%;
	font-weight: 400;
	font-family: 'Pretendard-variable', sans-serif;
	line-height: 1.45;
	@include letter-spacing025;
	overflow-wrap: break-word;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%; /* chrome, safari, opera */
	-ms-text-size-adjust: 100%; // IE
	-moz-text-size-adjust: 100%; // firefox
	-o-text-size-adjust: 100%; // opera 구버전
}

body {
	font-size: 1.6rem;
	color: var(--black-color-normal);
}

a {
	color: inherit;
	// color: var(--black-color-normal);
}

/* 

	웹접근성 - IR

*/
.hidden {
	@include hidden;
}

/* 
@media (max-width: 1300px){
  html{font-size:58%;}
}
@media (max-width: 900px){
  html{font-size:clamp(54%,1vw,58%);}
}
@media (max-width: 600px){
  html{font-size:52%;}
} 
*/
